{% extends 'partials/body.html' %}
{% load static %}

{% block stylesheet %}

{% endblock stylesheet %}


{% block contenido %}
<div class="col-md-12">
    <div class="card p-3">
        <div class="card-header">
            <h3 class="card-title">Gestiona tus departamentos</h3>
        </div>

        <div class="card-body">
            <table id="tabla-general" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for departamento in departamentos %}
                    <tr>

                        <td>{{departamento.nombre}}</td>
                        <td><a class="btn btn-primary" href=""><i class="fas fa-edit"></i></a>
                            <a class="btn btn-danger" href="{% url 'departamento_eliminar' departamento.id %}"><i
                                    class="fas fa-trash-alt"></i></a>
                        </td>

                    </tr>
                    {% endfor %}

                    <tr class="">
                        <form action="" method='POST'>
                            {% csrf_token %}
                            <td>
                                <input type="text" name="nombre" maxlength="90" required="" id="id_nombre">
                            </td>

                            <td><input class="btn btn-success col-md-2" type="submit" value="Agregar"></td>
                        </form>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock contenido %}

{% block javascript %}
<!-- DataTables  & Plugins -->
<script src="{% static 'datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'datatables-responsive/js/responsive.bootstrap4.min.js' %}"></script>
<script src="{% static 'datatables-buttons/js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'datatables-buttons/js/buttons.bootstrap4.min.js' %}"></script>
<script src="{% static 'jszip/jszip.min.js' %}"></script>
<script src="{% static 'pdfmake/pdfmake.min.js' %}"></script>
<script src="{% static 'pdfmake/vfs_fonts.js' %}"></script>
<script src="{% static 'datatables-buttons/js/buttons.html5.min.js' %}"></script>
<script src="{% static 'datatables-buttons/js/buttons.print.min.js' %}"></script>
<script src="{% static 'datatables-buttons/js/buttons.colVis.min.js' %}"></script>

{% endblock javascript %}