{% extends 'partials/body.html' %}
{% block contenido %}

<table class="table">
  <thead>
    <tr>
      <th class="col text-center">Foto</th>
      <th scope="col">Nombres</th>
      <th scope="col">Apellidos</th>
      <th scope="col">Tipo de Documento</th>
      <th scope="col"># Documento</th>
      <th scope="col">Municipio</th>
      <th scope="col">Empresa</th>
      <th scope="col">Teléfono</th>
      <th scope="col">Dirección</th>
      <th scope="col">Fecha de Nacimiento</th>
      <th scope="col">Rol</th>
      <th scope="col">Estado</th>

      <th scope="col">Acciones</th>



    </tr>
  </thead>
  <tbody>

    {% for usuario in usuarios %}
    <tr>

      {% if usuario.estado != '3' %}
      <td class="align middle text-center"><img class="rounded-circle" src="{{ MEDIA_URL }}{{usuario.foto.url}}" alt="" width="50" height="50"></td>
      <td >{{usuario.nombres}}</td>
      <td>{{usuario.apellidos}}</td>
      <td>{{usuario.tipoDocumento}}</td>
      <td>{{usuario.documento}}</td>
      <td>{{usuario.municipio}}</td>
      <td>{{usuario.empresa}}</td>
      <td>{{usuario.telefono}}</td>
      <td>{{usuario.direccion}}</td>
      <td>{{usuario.fecha_nacimiento}}</td>
      <td>{{usuario.rol}}</td>
      <td>{{usuario.estado}}</td>

      <td><a class="btn btn-primary" href="{% url 'usuarios-editar' usuario.id  %}"><i class="fas fa-edit"></i></a>
        <a class="btn btn-danger" href="{% url 'usuarios-eliminar' usuario.id  %}"><i class="fas fa-trash-alt"></i></a>
      </td>
      {% endif %}




    </tr>
    {% endfor %}



  </tbody>
</table>
{% endblock contenido %}