{% load static %}
<!-- jQuery -->
<script src="{% static 'jquery/jquery.min.js' %}"></script>
<!-- AdminLTE App -->
<script src="{% static 'js/adminlte.js' %}"></script>
<!-- <script type="application/json" src="{% static 'toastr/toast.js.map' %}"></script> -->
<!-- Toastr -->
<script src="{% static 'toastr/toastr.min.js' %}"></script>

<script type="application/json" src="{% static 'toastr/toastr-options.js' %}"></script>
<script>
    toastr.options = {
    "closeButton": false,
    "debug": false,
    "newestOnTop": false,
    "progressBar": false,
    "positionClass": "toast-bottom-right",
    "preventDuplicates": true,
    "onclick": null,
    "showDuration": "300",
    "hideDuration": "1000",
    "timeOut": "5000",
    "extendedTimeOut": "1000",
    "showEasing": "swing",
    "hideEasing": "linear",
    "showMethod": "fadeIn",
    "hideMethod": "fadeOut"
  }
</script>
<script>
  $(function () {
      $("#tabla-general").DataTable({
          "responsive": true, "lengthChange": false, "autoWidth": true,"ordering": true,
          "searching": true, "info": true,
          "buttons": ["copy", "csv", "excel", "pdf", "print"]
      }).buttons().container().appendTo('#tabla-general_wrapper .col-md-6:eq(0)');
   
  });
</script>
<script src="{% static 'js/modal-status.js' %}"></script>
{% block javascript %}


{% endblock javascript %}